<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Booking</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        /* Custom CSS styles */
        /* Add your custom CSS styles here */
    </style>
</head>
<body>
<div class="container">
    <h1>Thank you for choosing this hotel</h1>
    <h4>Please fill the form below</h4>
    <div class="price" id="price">
        <form action="#" th:action="@{/getPrice}" th:object="${formData}" method="post">
            <div class="mb-3">
                <label for="check_in" class="form-label">Check-in</label>
                <input type="date" class="form-control" id="check_in" name="check_in"
                       th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
                       th:min="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"/>
            </div>
            <div class="mb-3">
                <label for="check_out" class="form-label">Check-out</label>
                <input type="date" class="form-control" id="check_out" name="check_out"
                       th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"
                       th:min="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"/>
            </div>
            <div th:if="${!roomAvailable}">
                <div class="alert alert-warning" role="alert">
                    The selected room type is not available. Please choose a different room type.
                </div>
            </div>
                <div class="mb-3">
                    <label for="room_type" class="form-label">Room</label>
                    <select class="form-select" id="room_type" name="room_type">
                        <option value="King Smoking" th:selected="${room_type == 'King Smoking'}">King Smoking</option>
                        <option value="King Non-Smoking" th:selected="${room_type == 'King Non-Smoking'}">King Non-smoking</option>
                        <option value="Queen Smoking" th:selected="${room_type == 'Queen Smoking'}">Queen Smoking</option>
                        <option value="Queen Non-Smoking" th:selected="${room_type == 'Queen Non-Smoking'}">Queen Non-smoking</option>
                    </select>
                </div>


            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<!-- Add Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
