<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Booking</title>
</head>
<body>
<h1>Thank you for choosing this hotel</h1><br>
<h4>Please fill the below form</h4>
<div class="price" id="price">
    <form action="#" th:action="@{/getPrice}" th:object="${priceData}" method="post">

        <label for="check_in">Check-in</label>
        <input type="date" id="check_in" name="check_in" placeholder="Your check-in date.." /> <br>
        <label for="check_out">Check-out</label>
        <input type="date" id="check_out" name="check_out" placeholder="Your check-out date.." /> <br>
        <label for="room_type">Room</label>
        <select id="room_type" name="room_type">
            <option value="King Smoking">King Smoking</option>
            <option value="King Non-Smoking">King Non-smoking</option>
            <option value="Queen Smoking">Queen Smoking</option>
            <option value="Queen Non-Smoking">Queen Non-smoking</option>
        </select> <br>
        <input type="submit" value="Submit" />
    </form>
</div>
</body>
</html>
