<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reservation Details</title>
</head>
<body>
<h2>Reservation Details</h2><br>


<p>First Name: <span th:text="${first_name}"></span></p>
<p>Last Name: <span th:text="${last_name}"></span></p>
<p>Email: <span th:text="${email}"></span></p>
<p>Phone Number: <span th:text="${phone_number}"></span></p>
<p>Check In: <span th:text="${check_in}"></span></p>
<p>Check Out: <span th:text="${check_out}"></span></p>
<p>Number of Nights: <span th:text="${nights}"></span></p>
<p>Room Type: <span th:text="${room_type}"></span></p>
<p>Adults: <span th:text="${adults}"></span></p>
<p>Children: <span th:text="${children}"></span></p>
<p>Pets: <span th:text="${pets}"></span></p>
</body>
</html>